<html>
    <head>
       
        <body>
            <div clas="main-content">
            {{>header}}
            
             <p>{{errormsg}}</p>   
             </div>   
            
            {{>footer}}
        </body>
    </head>
</html>