<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <body>
            <div class="main-content">
            {{>header}}
            <h1>
                {{ Title}}
            </h1>
            <p>
                {{ age}}
                
            </p>
            </div>
            {{>footer}}
        </body>
    </head>
</html> 