<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">   
</head>

<body>
    <div class="main-content">
    <h1>{{>header}}</h1>
    
   
    <form>
        <input placeholder ="location">
        <button> search </button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
    </div>
     {{footer}}
     <script src="/js/client.js"></script>
</body>

</html>